<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Detail</title>
</head>
<body>
    <h1><%= post.title %></h1>
    <p><%= post.body %></p>
    <p>User ID: <%= post.user_id %></p>
    <p>Created At: <%= post.created_at %></p>
    <p>Post Tag: <%= post.post_tag %></p> <!-- 수정된 부분: 게시글의 post_tag를 표시 -->
    
    <form action="/api/posts/<%= post.id %>/like" method="GET"> <!-- 좋아요 누르기 -->
        <button type="submit">Like</button> 
    </form>
    <p>Likes: <%= likesCount %></p> <!-- 좋아요 개수 표시 -->

    <p>Vote content: <%= post.vote_content %></p>
    <p>찬성 <%= upvotes %> 반대 <%= downvotes %></p>
    
    <h2>Comments</h2>
    <ul>
        <% comments.forEach(comment => { %>
            <li><strong>User ID <%= comment.userId %>:</strong> <%= comment.content %></li>
        <% }) %>
    </ul>

    <form action="/api/posts/<%= post.post_id %>/comment" method="POST"> <!-- 댓글 추가 -->
        <textarea name="content" rows="4" cols="50" placeholder="Add a comment"></textarea>
        <button type="submit">Add Comment</button>
    </form>

    <a href="/api/posts">Back to All Posts</a>
</body>
</html>
